<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <style type="text/css">
      .bmc-btn-text {
        font-weight: bold !important;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- 
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        -->

        {% if site.logo %}
          <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}?1" alt="Logo" /></a>
        {% endif %}

        <!-- Layout modified from https://github.com/pages-themes/minimal/blob/master/_layouts/default.html -->

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><a href="https://www.buymeacoffee.com/rensorapps" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a></p>
        <br>
        <p><a href="https://www.instagram.com/{{ site.insta }}/" target="_blank"><img style="width: 30px; vertical-align: middle;" src="/assets/images/insta.png" /> @{{ site.insta }}</a></p>
        <p><a href="mailto:{{ site.email }}" target="_blank"> &#128231; {{ site.email }} </a></p>
        <br>
        <p><small>&copy; 2023</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
