<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <style type="text/css">
      .bmc-btn-text {
        font-weight: bold !important;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- 
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        -->

        {% if site.logo %}
          <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}?1" alt="Logo" /></a>
        {% endif %}

        <!-- Layout modified from https://github.com/pages-themes/minimal/blob/master/_layouts/default.html -->

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="rensorapps" data-color="#FFDD00" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFFFFF" ></script>
        <p><small>&copy; 2023</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
